.container {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .content {
    max-width: 1120px;
    margin: auto;
    padding: 5rem 2rem;

    h1 {
      font-size: 3rem;
    }

    .infos {
      display: flex;
      padding: 1rem 0 1rem 0;

      span+span {
        display: flex;
        align-items: center;
        padding: 0 1.2rem;

        svg {
          margin-right: 0.4rem;
        }
      }
    }

    h2 {
      font-size: 2.25rem;
      padding: 2rem 0 1.875rem 0;
    }

    p {
      font-size: 1.125rem;
      color: var(--gray-500);
      padding-bottom: 1.875rem;

      a {
        text-decoration: none;
        transition: filter .2s;
        color: var(--pink);

        &:hover {
          text-decoration: underline;
          filter: brightness(0.8);
        }
      }
    }
  }
}
